* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

h2{
    font-size: 22px;
}

.container {
    width: 58.75%;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

section, footer {
    padding: 70px 0;
}


/*BUTTON*/


button {
    padding: 10px 15px;
    min-width: 120px;
    border-radius: 2px;
    border: solid 1px #00e0d0;
    background-color: initial;
    color: #00e0d0;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #00e0d0;
    color: white;
    border: solid 1px white;
    transition: color .7s, border .7s, background-color .7s;
}


/*MASK*/


.mask:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(9, 5, 47, .85), rgba(49, 29, 94, .85));
    position: absolute;
}


/*ADAPTATION 1800PX */


@media screen and (min-width:1800px )  {


    .header-section .content h1 {
        font-size: 39px;
    }

    h5 {
        font-size: 21px;
    }

    .header-nav-menu-items {
        font-size: 16px;
    }

    h2 {
        font-size: 25px;
    }
    .watch-our-story .content h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .see-all-project a {
        font-size: 18px;
    }

    .arrow-see-all-project {
        width: 12px;
        height: 12px;
    }

    p {
        font-size: 16px;
    }

    h4 {
        font-size: 16px;
    }

    .our-specialists-text p{
        font-size: 18px;
    }

}


/*HEADER*/


header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #311d5e;
    z-index: 1000;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .content .header-nav-menu {
    padding: 30px 0;
}

header .content .header-nav-menu .header-nav-menu-items {
    color: white;
    margin: 0 7px;
    font-weight: 900;
    padding: 30px 0;
}

header .content .header-nav-menu .header-nav-menu-items:last-child {
    margin-right: 0;
}

header .content .header-nav-menu .header-nav-menu-items:hover {
    color: #00e0d0;

}

