/*SWIPER*/


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.swiper-container.swiper-pagination {
    margin-bottom: 70px;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
    border: solid 1px white;
    opacity: 1;
    background-color: initial;
    width: 10px;
    height: 10px;

}

.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    border: solid 1px #00e0d0;
    background-color: #00e0d0;
}


/*HEADER*/


.header-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../media/image/header-background.png") center/cover no-repeat;
    padding: initial;
}

.header-section .content {
    width: 100%;
    height: 100%;
}

.header-section .content h1 {
    color: white;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.header-section .content hr {
    background: #00e0d0;
    height: 1px;
    width: 50px;
    border: none;
    margin-top: 21px;
}

.header-section .content h5 {
    color: white;
    line-height: 1.71;
    letter-spacing: 0.7px;
    font-weight: 300;
    width: 48%;
    margin: 30px 0 50px 0;
}


/*OUR-STORY*/


.section-our-story {

    padding: 70px 0;
}

.section-our-story .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-our-story .content .our-story-logo {
    margin-left: 50px;
    margin-right: 100px;

}

.section-our-story .content h2 {
    font-family: 'Playfair Display', serif;
}

.section-our-story .content h5 {
    line-height: 1.57;
    letter-spacing: 0.42px;
    margin: 28px 0px 31px 0px;
}


/*WATCH-OUR-STORY*/


.watch-our-story {
    position: relative;
    width: 100%;
    min-height: 550px;
    display: flex;
    align-items: center;
    padding: inherit;
    background: url("../media/image/background-watch-our-story.png") center/cover no-repeat;
}

.watch-our-story .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watch-our-story h2 {
    letter-spacing: 0.8px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    margin-top: 34px;
}


/*EXPERTISE-SECTION*/


.expertise-section {
    display: flex;
    flex-direction: column;
}


/*EXPERTISE-TOP*/


.expertise-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.expertise-top h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.1px;
    color: #413d4b;
    font-weight: 700;
}

.expertise-top h5 {
    color: rgba(47, 45, 53, 0.75);
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.05px;
    margin-top: 16px;
    margin-bottom: 18px;

}

.expertise-top hr {
    width: 50px;
    height: 2px;
    opacity: 0.3;
    background-color: #413d4b;
}


/*EXPERTISE-CENTER-TOP*/


.expertise-center {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
}

.expertise-center .expertise-box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 33px;
    padding-left: 33px;
}

.expertise-center img {
    margin-top: 32px;
    margin-bottom: 35px;
}

.expertise-center h3 {
    color: #413d4b;
    font-weight: 900;
    letter-spacing: 0.7px;
}

.expertise-center h5 {
    color: rgba(51, 51, 51, 0.75);
    line-height: 1.57;
    letter-spacing: 0.7px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.expertise-center .expertise-box-info:nth-child(2) {
    border-right: solid 1px #c6c5c9;
    border-left: solid 1px #c6c5c9;
    border-bottom: solid 1px #c6c5c9;
}

.expertise-center .expertise-box-info:nth-child(5) {
    border-right: solid 1px #c6c5c9;
    border-left: solid 1px #c6c5c9;
}

.expertise-center .expertise-box-info:nth-child(1) {
    border-bottom: solid 1px #c6c5c9;
}

.expertise-center .expertise-box-info:nth-child(3) {
    border-bottom: solid 1px #c6c5c9;
}


/*EXPERTISE-CENTER-BOTTOM*/


.expertise-center-bottom {
    display: flex;
    flex-direction: row;

}

.expertise-center-bottom img {
    margin-top: 39px;
    margin-bottom: 35px;
}

.expertise-center-bottom h5 {
    margin-top: 25px;
    margin-bottom: 23px;
    color: rgba(51, 51, 51, 0.75);
    line-height: 1.57;
    letter-spacing: 0.7px;
}


/*MEET-OUR-AMAZING-TEAM*/


.meet-our-amazing-team-section {
    background: url("../media/image/meet-our-amazing-team-background.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}


/*MEET-OUR-AMAZING-TEAM-TOP*/


.meet-our-amazing-team-section .meet-our-amazing-team-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-our-amazing-team-section .meet-our-amazing-team-top h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.1px;
    color: white;
    font-weight: bold;
}

.meet-our-amazing-team-section .meet-our-amazing-team-top h5 {
    font-family: 'Playfair Display', serif;
    color: #f9f9f9;
    letter-spacing: 1.05px;
    margin-top: 16px;
    margin-bottom: 18px;
}

.meet-our-amazing-team-section .meet-our-amazing-team-top hr {
    width: 50px;
    height: 1px;
    opacity: 0.2;
    border: solid 1px white;
    background-color: white;
}


/*MEET-OUR-AMAZING-TEAM-CENTER*/


.meet-our-amazing-team-section .meet-our-amazing-team-center {
    display: flex;
    margin-top: 47px;
    margin-bottom: 70px;
    justify-content: space-between;
}

.meet-our-amazing-team-center .amazing-team-people-box {
    width: calc(25% - 21px);
    border: solid 1px #f0f0f0;
}

.meet-our-amazing-team-center .amazing-team-people-img {
    height: 230px;
}

.meet-our-amazing-team-center .amazing-team-people-box .amazing-team-people-img img {
    height: 100%;
    width: 100%;
    object-fit: initial;
}

.meet-our-amazing-team-center .amazing-team-people-box .amazing-team-people-name-and-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    padding-top: 20px;
    padding-bottom: 28px;
}

.meet-our-amazing-team-center .amazing-team-people-box .amazing-team-people-name-and-profession h4 {
    margin-bottom: 12px;
    font-weight: 900;
    letter-spacing: 0.7px;
    color: white;
}

.meet-our-amazing-team-center .amazing-team-people-box .amazing-team-people-name-and-profession h5 {
    color: rgba(250, 250, 250, 0.7);
}


/*MEET-OUR-AMAZING-TEAM-BOTTOM*/


.meet-our-amazing-team-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-our-amazing-team-bottom h5 {
    color: #f3f3f3;
    letter-spacing: 0.7px;
    margin-bottom: 26px;
}

.meet-our-amazing-team-bottom button {
    width: 140px;
}


/*OUR-WORKS-TOP*/


.our-works-section .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.our-works-section .content h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #413d4b;
}

.arrow-see-all-project {
    width: 10px;
    height: 10px;
    border-bottom: solid 1px #413d4b;
    border-right: solid 1px #413d4b;
    transform: rotate(-50grad);
    align-self: center;
    right: 0;
}

.see-all-project a {
    color: #413d4b;
    display: flex;
}


/*OUR-WORKS-SECTION-IMG*/


.our-works-section-main-box-img {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 200px 200px;
    margin: 70px 0;
}

.our-works-section-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/*OUR-WORKS-SECTION-Button*/


.our-works-section-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-works-section-button button {
    width: 140px;
}


/*SECTION-OUR-SPECIALISTS*/


.section-our-specialists {
    background: url("../media/image/background-““.png") center/cover no-repeat;
    position: relative;
}

section .container .content .our-specialists-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section .container .content .our-specialists-text h6 {
    font-size: 100px;
    font-family: PlayfairDisplay;
    font-weight: normal;
    height: 93px;
    color: rgba(255, 255, 255, 0.9);
}

section.our-specialists-text p {
    font-family: PlayfairDisplay;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.85;
    color: white;
    line-height: 1.63;
    letter-spacing: 0.4px;
}

section .container .content .our-specialists-text h3 {
    font-weight: 900;
    line-height: 1.57;
    letter-spacing: 0.7px;
    color: white;
    margin-top: 52px;
    margin-bottom: 13px;
}

section .container .content .our-specialists-text {
    color: white;
    line-height: 1.69;
}


/*SWIPER-SECTION-OUR-SPECIALISTS*/


.specialists-texts-swiper {
    width: 100%;
}

.specialists-texts-swiper .swiper-slide {
    width: 100%;
}

.specialists-swiper {
    width: 100%;
}

.our-specialists-carousel {
    position: relative;
    width: 300px;
    margin: 45px auto 0;
    height: 70px;

}

.our-specialists-carousel .specialists-swiper-next, .specialists-swiper-prev {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 1000;
    cursor: pointer;
    color: #ccc;
    width: 21px;
    height: 21px;
}

.our-specialists-carousel .specialists-swiper-next > img, .specialists-swiper-prev > img {
    width: 100%;
    height: 100%;
}

.our-specialists-carousel .specialists-swiper-prev {
    left: -30px;
}

.our-specialists-carousel .specialists-swiper-next {
    right: -30px
}

.specialists-swiper .swiper-slide img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all .3s ease;
}

.specialists-swiper .swiper-slide.swiper-slide-active > img {
    width: 70px;
    height: 70px;
}


/*GIVE-US-GOOD-NEWS-AND-OUR-HAPPY-CLIENT*/


.give-us-a-good-news-and-our-happy-client .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

.give-us-a-good-news {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.give-us-a-good-news-and-our-happy-client h2 {
    font-family: PlayfairDisplay;

    letter-spacing: 1.1px;
    color: #413d4b;
    margin-bottom: 35px;
    font-weight: bold;
}

.give-us-a-good-news form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

form input {
    margin-bottom: 22px;
    height: 45px;
    width: 100%;
    padding: 21px;
}

.give-us-a-good-news form input:focus {
    border: solid 1px rgba(0, 0, 0, .7);
}

.give-us-a-good-news form textarea:focus {
    border: solid 1px rgba(0, 0, 0, .7);
}

.give-us-a-good-news form textarea {
    padding: 20px;
    resize: none;
    margin-bottom: 21px;
    width: 100%;
}


/*OUR-HAPPY-CLIENT*/


.our-happy-client {
    margin-left: 100px;
    width: 100%;
}

.our-happy-client-img {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.our-happy-client-img img {
    width: 37%;
    margin-bottom: 40px;
    height: 70px;
}


/*FOOTER*/


footer {
    background: url("../media/image/button-background.png") center/cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
}

footer .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.footer-center {
    display: flex;
    justify-content: space-between;
}

footer p {
    line-height: 1.86;
    letter-spacing: 0.35px;
    font-family: Roboto;
    color: white;
}

footer h3 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.73;
    letter-spacing: 0.75px;
    color: white;
}

footer .bottom-left {
    width: 30%;
}

footer .bottom-left p {
    margin-top: 27px;
    margin-bottom: 80px;
}

footer .bottom-center {
    width: 30%;
    margin-left: 36px;
    margin-right: 60px;
}


footer .bottom-center .bottom-center-address {
    display: flex;
    margin-top: 39px;
    margin-bottom: 27px;
}

footer .bottom-center .bottom-center-address img {
    margin-right: 16px;
}

footer .bottom-center .bottom-center-phone {
    display: flex;
}

footer .bottom-center .bottom-center-phone img {
    margin-right: 12px;
    width: 17px;
}

footer .bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .bottom-right .Subscribe-our-newsletter {
    display: flex;
    margin: 39px 0px 27px 0px;
}

footer .bottom-right .Subscribe-our-newsletter input[type="text"] {
    height: 45px;
    background: initial;
    width: 211px;
    opacity: 0.5;
    border: solid 1px white;
    text-align: center;
    color: white;

}

footer .bottom-right .Subscribe-our-newsletter input[type="button"] {
    margin-left: 10px;
    background-image: url("../media/image/telegram-button.png");
    background-size: 65px 40px;
    width: 70px;
    height: 45px;
    opacity: 0.5;
    border: solid 1px white;
    background-color: white;
    background-repeat: no-repeat;
    cursor: pointer;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
}

footer .bottom-help {
    display: flex;
}

footer .bottom-help p {
    margin: 0 25px 0 0;
    cursor: pointer;
}
