/*SWIPER*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.swiper-pagination {
    margin-bottom: 70px;
}

.swiper-pagination .swiper-pagination-bullet {
    border: solid 1px white;
    opacity: 1;
    background-color: initial;
    width: 10px;
    height: 10px;

}

.swiper-pagination .swiper-pagination-bullet-active {
    border: solid 1px #00e0d0;
    background-color: #00e0d0;
}

/*HEADER*/

.header-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../media/image/header-background.png") center/cover no-repeat;
    padding: initial;
}

.header-section .content {
    width: 100%;
    height: 100%;
}

.header-section .content h1 {
    color: white;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.header-section .content hr {
    background: #00e0d0;
    height: 1px;
    width: 50px;
    border: none;
    margin-top: 21px;
}

.header-section .content h5 {
    color: white;
    line-height: 1.71;
    letter-spacing: 0.7px;
    font-weight: 300;
    width: 58%;
    margin: 30px 0 50px 0;
}

/*OUR-STORY*/

.section-our-story {

    padding: 70px 0;
}

.section-our-story .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-our-story .content .our-story-logo {
    margin-left: 50px;
    margin-right: 100px;

}

.section-our-story .content h2 {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
}

.section-our-story .content h5 {
    line-height: 1.57;
    letter-spacing: 0.42px;
    margin: 28px 0px 31px 0px;
}

/*WATCH-OUR-STORY*/

.watch-our-story {
    position: relative;
    width: 100%;
    min-height: 550px;
    display: flex;
    align-items: center;
    padding: inherit;
    background: url("../media/image/background-watch-our-story.png") center/cover no-repeat;
}

.watch-our-story .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watch-our-story .content h2 {
    letter-spacing: 0.8px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    margin-top: 34px;
}

/*EXPERTISE-SECTION*/

.expertise-section {
    display: flex;
    flex-direction: column;
}

/*EXPERTISE-TOP*/

.expertise-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.expertise-top h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #413d4b;
    font-weight: 700;
}

.expertise-top h5 {
    color: rgba(47, 45, 53, 0.75);
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.05px;
    margin-top: 16px;
    margin-bottom: 18px;

}

.expertise-top hr {
    width: 50px;
    height: 2px;
    opacity: 0.3;
    background-color: #413d4b;
}

/*EXPERTISE-CENTER-TOP*/

.expertise-center {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% ;
    grid-template-rows: 50% 50%;
}

.expertise-center .expertise-box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 33px;
    padding-left: 33px;
}

.expertise-center  img {
    margin-top: 32px;
    margin-bottom: 35px;
}

.expertise-center h3 {
    color: #413d4b;
    font-weight: 900;
    letter-spacing: 0.7px;
}

.expertise-center h5 {
    color: rgba(51, 51, 51, 0.75);
    line-height: 1.57;
    letter-spacing: 0.7px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.expertise-center .expertise-box-info:nth-child(2) {
    border-right: solid 1px #c6c5c9;
    border-left: solid 1px #c6c5c9;
    border-bottom: solid 1px #c6c5c9;
}

.expertise-center .expertise-box-info:nth-child(5) {
    border-right: solid 1px #c6c5c9;
    border-left: solid 1px #c6c5c9;
}

.expertise-center .expertise-box-info:nth-child(1) {
    border-bottom: solid 1px #c6c5c9;
}

.expertise-center .expertise-box-info:nth-child(3) {
    border-bottom: solid 1px #c6c5c9;
}

/*EXPERTISE-CENTER-BOTTOM*/

.expertise-center-bottom {
    display: flex;
    flex-direction: row;

}

.expertise-center-bottom img {
    margin-top: 39px;
    margin-bottom: 35px;
}

.expertise-center-bottom h5 {
    margin-top: 25px;
    margin-bottom: 23px;
    color: rgba(51, 51, 51, 0.75);
    line-height: 1.57;
    letter-spacing: 0.7px;
}

/*MEET-OUR-AMAZING-TEAM*/

.meet-our-amazing-team-section {
    background: url("../media/image/meet-our-amazing-team-background.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*MEET-OUR-AMAZING-TEAM-TOP*/

.meet-our-amazing-team-section .meet-our-amazing-team-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-our-amazing-team-section .meet-our-amazing-team-top h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: white;
    font-weight: bold;
}

.meet-our-amazing-team-section .meet-our-amazing-team-top h5 {
    font-family: 'Playfair Display', serif;
    color: #f9f9f9;
    letter-spacing: 1.05px;
    margin-top: 16px;
    margin-bottom: 18px;
}

.meet-our-amazing-team-section .meet-our-amazing-team-top hr {
    width: 50px;
    height: 1px;
    opacity: 0.2;
    border: solid 1px white;
    background-color: white;
}

/*MEET-OUR-AMAZING-TEAM-CENTER*/

.meet-our-amazing-team-section .meet-our-amazing-team-center {
    display: flex;
    margin-top: 47px;
    margin-bottom: 70px;
    justify-content: space-between;
}

.meet-our-amazing-team-center .amazing-team-people-box {
    width: calc(25% - 21px);
    border: solid 1px #f0f0f0;
}

.meet-our-amazing-team-center .amazing-team-people-img {
    height: 230px;
}

.meet-our-amazing-team-center .amazing-team-people-box .amazing-team-people-img img {
    height: 100%;
    width: 100%;
}

.meet-our-amazing-team-center .amazing-team-people-box .amazing-team-people-name-and-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    padding-top: 20px;
    padding-bottom: 28px;
}

.meet-our-amazing-team-center .amazing-team-people-box .amazing-team-people-name-and-profession h4 {
    margin-bottom: 12px;
    font-weight: 900;
    letter-spacing: 0.7px;
    color: white;
}

.meet-our-amazing-team-center .amazing-team-people-box .amazing-team-people-name-and-profession h5 {
    color: rgba(250, 250, 250, 0.7);
}

/*MEET-OUR-AMAZING-TEAM-BOTTOM*/

.meet-our-amazing-team-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-our-amazing-team-bottom h5 {
    color: #f3f3f3;
    letter-spacing: 0.7px;
    margin-bottom: 26px;
}

.meet-our-amazing-team-bottom button {
    width: 140px;
}

/*OUR-WORKS-TOP*/

.our-works-section .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.our-works-section .content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #413d4b;
}

.arrow-see-all-project {
    width: 10px;
    height: 10px;
    border-bottom: solid 1px #413d4b;
    border-right: solid 1px #413d4b;
    transform: rotate(-50grad);
    align-self: center;
    right: 0;
}

.see-all-project a {
    color: #413d4b;
    display: flex;
}

/*OUR-WORKS-SECTION-IMG*/

.our-works-section-main-box-img {
    display: grid;
    grid-template-columns:  16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 200px 200px;
    margin: 70px 0;
}

.our-works-section-img img{
    width: 100%;
    height: 100%;
}

/*OUR-WORKS-SECTION-Button*/

.our-works-section-button {
    display: flex;
    align-items:center;
    justify-content: center;
}

.our-works-section-button button {
    width: 140px;
}